/* regole di reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* regole di layout */
.contenitore{
    margin:0 auto;
    max-width: 800px;
}

/* regole header */
#header{
    height: 60px;
}

#header h1{
    display: inline;
    vertical-align: super;
    height: 50px;
} 

/* regole main */
#main{
    background-color: rgb(239, 239, 239);
    padding-top: 30px;
    padding-bottom: 10px;
}

#main .contenitore{
    background-color: white;
    padding-left: 5%;
}


#main header{
    margin-bottom: 2px;
    padding: 15px;
}

#main a{
    font-size: 11px;
    padding: 5px;
    text-decoration: none;
}

.add{
    border-radius: 15%;
}

#add1{
    background-color: rgb(81, 135, 227);
    color: white;
    border: 1px solid blue;
}

#add2{
    color: black;
    border: 1px solid black;
}

/* regole liste */
#contenitore-liste{
    padding-top: 30px;
}


#main ul{
    list-style-type: none;
    padding-bottom: 30px;

}

#main ul a{
    color: white;
    border-radius: 45%;
}

.editorial{
   background-color: rgb(81, 135, 227); 
}

.q1-goals{
    background-color: blueviolet;
}

.recruiting{
    background-color: green;
}

.mobile{
    background-color: orange;
}

.website {
    background-color: crimson;
}

.sales{
    background-color: lightgreen;
}


/* regole di debug */
  /* .debug *{
    border: 2px solid red;
    
}

.debug .contenitore{
    background-color: aqua;
    /* border: 4px solid blue; */
}  

 */
