/* regole di reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* regole di layout */
.contenitore{
    margin:0 auto;
    max-width: 800px;
}

/* regole header */
#header{
    height: 60px;
}

#header h1{
    display: inline;
    vertical-align: super;
    height: 50px;
} 

/* regole main */
#main{
    background-color: rgb(199, 181, 181);
}


#main .contenitore{
    background-color: white;
    padding-left: 5%;
}

#main .add{
    text-decoration: none;
    border-radius: 10%;
}

#add1{
    background-color: rgb(81, 135, 227);
    color: white;
    border: 1px solid blue;
}

#add2{
    color: black;
    border: 1px solid black;
}


/* regole di debug */
  .debug *{
    border: 2px solid red;
    
}

.debug .contenitore{
    background-color: aqua;
    /* border: 4px solid blue; */
}  


